.container {
    margin: 3rem auto auto;
    width: 100%;
    text-align: center;
}

.row {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    outline: none;
    border: 1px solid #27ae60;
    color: #27ae60;
    background-color: transparent;
    transition-duration: 0.3s;
    transition-property: color, background-color;
}

.button:hover {
    cursor: pointer;
    background-color: #27ae60;
    color: white;
}

.button.chosen {
    background-color: #27ae60;
    color: white;
}