* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #FFF;
}

.container {
    width: 80%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.title {
    font-weight: 900;
    font-size: 45px;
    color: rgb(0, 33, 101);
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 4px dashed rgb(0, 33, 101);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto auto 1rem;
}

.col-header {
    border-radius: 10px;
    padding: 0.8rem 1rem;
    color: #FFF;
    text-align: left;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.20);
}

.item {
    width: 100%;
    border: 1px solid #FFF;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    background-color: #F7F6F7;
    padding: 0.8rem 1rem;
    color: rgb(0, 33, 101);
    font-weight: 900;
    display: flex;
    align-items: center;
    cursor: grab;
}

.item:active, .item:focus {
    cursor: grabbing;
}

.placeholder {
    height: 100%;
    min-height: 200px;
    padding-top: 20px;
}

.col-header, .placeholder {
    width: 27%;
}

.start {
    background: rgb(5, 17, 142);
    background: linear-gradient(90deg, rgba(5, 17, 142, 1) 0%, rgba(101, 30, 134, 1) 72%);
}

.progress {
    background: rgb(184, 0, 136);
    background: linear-gradient(38deg, rgba(184, 0, 136, 1) 0%, rgba(0, 33, 101, 1) 100%);
}

.finish {
    background: rgb(0, 33, 101);
    background: linear-gradient(38deg, rgba(0, 33, 101, 1) 0%, rgba(184, 0, 0, 1) 100%);
}


.hold {
    border: 5px solid rgb(0, 33, 101);
    opacity: 1;
    transition: 0.2s transform;
    transform: scale(1.05);
}

.hide {
    display: none;
}


.hovered {
    border-left: 1px dashed rgba(0, 33, 101, .75);
    border-right: 1px dashed rgba(0, 33, 101, .75);
    transition: 0.5s transform;
    transform: scaleX(1.1);
}


@media (orientation: portrait) {
    .container {
        width: 95%;
    }
}