.form {
    padding-top: 4rem;
    width: 100%;
}

.input {
    padding: 2rem 5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    font-size: 2.75rem;
    color: rgba(0, 0, 0, .5);
    width: 50%;
    font-style: italic;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 900;
    opacity: 0.25; /* Firefox */
}


@media (orientation: portrait) {
    .input {
        width: 95%;
    }
}