.form {
    padding-top: 4rem;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.add {
    background-color: #27ae60;
    color: white;
    outline: none;
    border: none;
    font-weight: 300;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 2rem;
    font-size: 2.75rem;
    margin: auto 0 auto 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .35);
    transition: 0.2s transform;
}

.add:active {
    transform: scale(0.9);
}

.input {
    padding: 2rem 5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    font-size: 2.75rem;
    color: rgba(0, 0, 0, .5);
    width: 50%;
    font-style: italic;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 900;
    opacity: 0.25; /* Firefox */
}


@media (orientation: portrait) {
    .input {
        width: 95%;
    }
}