.listItem {
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 10px;
    cursor: pointer;
    overflow: hidden;
}

.listItem img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.listItem:hover {
    width: 325px;
    height: 300px;
    -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.07);
    position: absolute;
    top: -150px;
    border-radius: 7px;
}

.listItem:hover img {
    height: 140px;
}

.icons {
    color: white;
}

.itemInfoContainer {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    font-size: 1.5rem;
}

.previewTrailer {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.icons {
    display: flex;
    margin-bottom: 10px;
    font-size: 2rem;
}

.icon {
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
    padding: 1px;
    font-size: 2rem;
}

.itemInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.limit {
    border: 1px solid white;
    padding: 1px 3px;
    margin: 0 10px;
}

.description {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.genre {
    font-size: 1.4rem;
    color: lightgray;
}