.navbar {
    --mainColor: #27ae60;
    background-color: var(--mainColor);
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.brand {
    margin: auto 0;
    padding: 0 1rem;
    color: #FFF;
    font-weight: 900;
    font-size: 2.5rem;
    border-bottom: 0.2rem solid white;
}

.links {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    height: 100%;
    border-left: 0.1rem solid white;
}

.linkItem {
    color: var(--mainColor);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .25);
    background-color: white;
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 100;
    font-size: 2.2rem;
    text-transform: none;
    text-decoration: none;
    margin-left: 2rem;
    transition: 0.2s transform;

}

.linkItem:active {
    transform: scale(0.9);
}
