* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: #1e272e;
}

.board {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    cursor: crosshair;
    user-select: none;
}

.square {
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: #26323B;
    transition: 3s ease;
    box-shadow: 0 0 2px #000;
}

.square:hover {
    transition-duration: 0s;
}
